numpy
scipy
pandas
matplotlib
scikit-learn
statsmodels
PyYAML
pyarrow
xarray
netCDF4
qiskit
qiskit-aer
qiskit-algorithms
qiskit-ibm-runtime
seaborn
joblib
tqdm
python-docx
pytest
zarr<3
fsspec
dask
aiohttp
bokeh
pyvinecopulib
networkx
pydot
rainflow
cma
